/*********************************************************************************
Theme for: Studienarbeit Programmierung von Webanwendungsoberflächen
Description: Fiktive Vereinsseite für zur Registrierung von Kleiderspenden

Version: 0.1
Author: Riccardo Princiotto
License: none
Tags: CSS Grid, responsiv, bootstrap, CSS animations, Adobe content

Notices: global stylings with html-tags, positioning in grid with id`s, individual
        styling with classes, id`s and classes ordered by page name
**********************************************************************************/

/********************************************************************************
Universal rules, html-Tag rules
*********************************************************************************/

/********* CSS variables for the grid system ***********/

:root {
    --m-xxl: 200px;
    --col-xl: 50px;
    --col-xxl: 100px;
    --row-headline: 50px;
    --row-xxl: 100px;
}

/********* html tags ***********/
body {
/********* Defining background image for every html ***********/

    background-image:url(../img/background_img.jpg);
    background-repeat:space ;
    background-attachment: fixed;
    background-position: center;
}

/********* grid template for every section ***********/

section {
    display: grid;
    grid-template-columns: var(--col-xxl) 1fr var(--col-xxl); 
    grid-template-rows: minmax(75px, auto) 1fr var(--row-xxl); 
}

/********* headline tags ***********/

h1 {
    text-align: center;
    font-family: p22-nudgewink-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 4em !important; 
}

h2 {
    text-align: center;
    font-family: p22-nudgewink-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em !important; 
}

h3 {
    padding-top: 10px;
    font-family: p22-nudgewink-pro,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em !important; 
}

p {

/********* global style rules for p tags ***********/

    font-family: calendula, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p a {

/********* global style rules for a tags inside a p tag ***********/

    text-decoration: none;
    color: black;
}

/********* defining footer for every html ***********/

footer {
    height: 300px;
    margin-top: var(--m-xxl);
    display: grid;
    grid-template-columns: var(--col-xxl) repeat(3, 1fr) var(--col-xxl);
    grid-template-rows: 1fr;
    background-color: #E7E8EC;
}

/********************************************************************************
    universal rules for positioning and sizing
*********************************************************************************/

/********* first content section of every html
            get`s own grid after positioning  ***********/
#contentS1 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 0.5fr 25px 1fr var(--col-xl);
}

/********* integrated navigation on top of the side  ***********/
#navStart {
    list-style-type: none;
    grid-column: 4;
    grid-row: 1;
    z-index: 2;
    padding-top: 40px; 
    justify-self: right;  
}
/********************* fixed navigation ********************/
#navbarFix{
    justify-content: right !important;
    margin-right: 50px !important;
}

#logoStart {
    margin: 0;
    padding: 5px 0 0 5px;
    grid-column: 1;
    grid-row: 1;
    max-height: 75px;
}

/********* Positioning the title image of the first section  ***********/
#titleImage {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    z-index: 1;
    margin-top: 100px;
    margin-bottom: 100px;
}
/********* Positioning the background of the first section  ***********/
#contentS1background {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 1;
    z-index: 0;
}
/********* Positioning and sizing the text area of the first section
            define a new grid with rows inside  ***********/
#contentS1Text {
    grid-column: 4;
    grid-row: 1;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 0.25fr;
    margin-top: 100px;
    margin-bottom: 100px;
}
/********* Positioning the article of the first section  ***********/
#titleArticle {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}
/********* Positioning and sizing the button of the first section  ***********/
#buttonDonate {
    grid-column: 1;
    grid-row: 2;
    max-width: 50%;
    max-height: 75%;
    align-self: center;
    justify-self: center !important;
}
/************ positioning the headline of other sections *****************/
#h2S2, #h2S3, #h2S4, #h2S5, #h1S1 {
    grid-column: 2;
    grid-row: 1;
    align-self: baseline;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 25px;
    z-index: 2;
}
/************ positioning footer colums *****************/
#contactFooter {
    grid-column: 2;
}
#legalFooter {
    grid-column: 3;
    padding-left: 10px;
}
#socialmediaFooter {
    grid-column: 4;
    padding-left: 10px;
}


/********************************************************************************
                        universal rules for styling
*********************************************************************************/

/***************** integrated navigation on top of the side  *******************
*****************************************************************************/

/********* ul tag of nav  ***********/
.navStartList {
    margin: 0;
    padding: 0;
}
/********* size of link area of the logo  ***********/
.logoLink {
    max-height: 75px;
}
/********* styling items of the start nav  ***********/
.navStartItem {
    display: inline-block;
    padding: 0 12px 0 12px;
    font-weight: 500;
    font-size: 20px;
}
/********* styling a tags after the start nav items  ***********/
.navStartItem a {
    text-decoration: none;
    color: #fde368;
    transition: ease-in-out;
}
/********* styling a tags of start nav on hover  ***********/
.navStartItem a:hover {
    color: white;
    font-size: 125%;
    transition: 0.25s ease-in-out;
}

/***************** fixed bootstrap navigation  ***********************
*****************************************************************************/

.navbar {
    opacity: 80% !important;
    height: 40px !important;
}
.navbar-brand {
    margin-left: 50px;
    color: #4cb055 !important;
}
.nav-link {
    color: #4cb055 !important;
}

.nav-link:hover {
    font-size: 125%;
    color: #fde368 !important;
    transition: 0.25s ease-in-out;
}

.active a {
    font-weight: bold !important;
    text-decoration: underline !important;
}

/********* styling title image  ***********/
.titleImage {
    box-shadow: 0px 1px 6px rgb(0 0 0 / 30%);
    border-radius: 50px;
}
/********* title image effect on hover ***********/
.titleImage:hover {
    box-shadow: 20px 20px 20px rgb(0 0 0 / 50%);
}
/********* styling background of the first section with standard color ***********/
.contentS1background {
    background: rgb(0,36,7);
    background: linear-gradient(90deg, rgba(0,36,7,1) 0%, rgba(0,172,75,1) 35%, rgba(0,255,102,1) 100%);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
/********* styling of the buttons ***********/
.buttonStyle {  
    width: 13em;
    height: 2em;
    font-size: 1.25em;
    background: linear-gradient(to bottom, white, yellow);
    box-shadow: inset 0 0 .3em #fff, inset 0 -1px .3em #fff;
    border: thin solid #5ea617;
    border-radius: 1em;
    margin: 1em;
    background: linear-gradient(to bottom, white, orange);
}
/********* styling of the buttons on hover and on focus ***********/
.buttonStyle:hover, .buttonStyle:focus {
box-shadow: rgba(0, 0, 0, 0.7) 0px .25em 1em, inset rgba(0, 0, 0, 0.15) 0px -.5em 1em;
}
/********* styling footer ***********/
.footerBorder {
    border-color: gray;
    border-width: 0px 5px 0px 0px;
    border-style: solid;
    box-shadow: 0px 20px 0px 0px gray;
}

/********************************************************************************
    positioning for index html
*********************************************************************************/
/************ Section 2 icons how to  *************/
/************ div of section 2 place in content area and get own grid ***********/
#contentS2 {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr 25px 0.25fr 25px) 1fr;
}
/************ positioning the icons *****************/
#icon1 {
    grid-column: 1;
}
#icon2 {
    grid-column: 3;
}
#icon3 {
    grid-column: 5;
}
#icon4 {
    grid-column: 7;
}
#icon5 {
    grid-column: 9;
}
/************ justfy the icons *****************/
#icon1, #icon2, #icon3, #icon4, #icon5 {
    justify-self: center;
}
/************ Section 3 picture caroussel  *************/
/************ div of section 3 place in content area and get own grid ***********/
#contentS3 {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: var(--col-xl) 1fr var(--col-xl);
    grid-template-rows: 1fr minmax(100px, auto);
}
/************ placing and sizing the control arrows, image and text **********/
#prevArrow {
    grid-column: 1;
    grid-row: 1;
    transform: rotate(180deg);
    max-width: 50px;
    justify-self: center;
}
#nextArrow {
    grid-column: 3;
    grid-row: 1;
    max-width: 50px;
    max-width: 50px;
    justify-self: center;
}
#imgCarousel1, #imgCarousel2, #imgCarousel3 {
    grid-column: 2;
    grid-row: 1;
    max-height: 580px;
    justify-self: center;
}
#imgDiscription1, #imgDiscription2, #imgDiscription3 {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    max-width: 500px;
    margin-top: 20px;
}
/************ Section 4 blog preview  *************/
/************ div of section 4 place row ***********/
#contentS4 {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 0.25fr 25px 1fr var(--col-xl);
}
#contentS4background{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 1;
    z-index: 0;
}
#blogImg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 50px;
}
#contentS4Text {
    grid-column: 4;
    grid-row: 1;
    z-index: 1;
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr minmax(auto, 100px);
}
#blog1Article {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}
#prevBlogWrap {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 25px 1fr;
}
#prevBlog2 {
    grid-column: 1;
    grid-row: 2;
}
#prevBlog3 {
    grid-column: 3;
    grid-row: 2;
}

/********************************************************************************
    style for index html
*********************************************************************************/
/************ Section 2 icons how to  *************/
/************ style of the icons *****************/
.iconType1{
    max-width: 200px;
    max-height: 200px;
    align-self: top;
    transition: all 1s ease-in-out;
}
/******** animate icontype1 on hover *************/
.iconType1:hover {
    transform: rotate(360deg);
}
.iconType2 {
    max-width: 50px;
    max-height: 100px;
    margin-top: 50px;
    justify-content: center;
    align-self: top;
}
/*********** text under the icons *************/
.pIcons {
    color: #4CB055;
    margin-top: 10px;
    font-size: 125%;
    font-weight: 600;
    text-align: center;
}
/************ Section 3 picture carousel *************/
/*********** style button arrows *************/
.buttonCarousel {
    border: none;
    cursor: pointer;
    appearance: none;
    max-height: 50px;
    align-self: center;
    background-color: transparent;
}
.buttonCarousel:hover {
    transition: .2 ease-in-out;
    transform: scale(1.25);   
}
/*********** style and display images of carousel *************/
.imgCarousel {
    box-shadow: 0px 1px 6px rgb(0 0 0 / 30%);
    border-radius: 50px;   
}
.CarouselItemDisable {
    display: none;
}
/*********** style image discription of carousel *************/
.imgDiscription {
    font-size: 2.5em !important;
}
/************ Section 4 preview Blog.html*************/
.blogBigImage {
    box-shadow: 0px 1px 6px rgb(0 0 0 / 30%);
    border-radius: 25px; 
}
.contentBlockBackground {
    background: rgb(60,0,105);
    background: linear-gradient(90deg, rgba(60,0,105,1) 0%, rgba(150,30,122,1) 50%, rgba(255,138,244,1) 100%);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.prevBlogImg {
    max-width: 250px;
    max-height: 250px;
    z-index: 2;
    padding-top: 20px;
}
.prevBlog {
    max-width: 250px;
    background-color: #961E7A;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 30%);
    border-radius: 5px;
    color: white;   
}
.prevBlog:hover {
    transition: 1s ease-in-out;
    transform:scale(1.25);
}
.prevBlogImg:hover {
    filter: grayscale(1);
}
.pBlogHeadline{
    color: white;
}
.prevBlogText {
    padding: 10px 5px 20px 5px;
    text-align: center;    
}
.pBlog {
    color: white;
}

/********************************************************************************
    positioning for spenden html
*********************************************************************************/
/************ Section 2 personal data  *************/
/************ div of section 2 place in content area and get own grid ***********/
#contentS2Donate {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 100px) 1fr 200px repeat(3, 100px);
}
#h3bringOrCollect {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 25px;
}
#bringRadio {
    grid-column: 1; 
    grid-row: 2;  
    justify-self: center;
}
#collectRadio {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}
#pBring, #pCollect {
    display: none;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    margin-top: 25px;
    text-align: center;
}
#emptyPlaceholder {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    margin-top: 25px;
    text-align: center;
}
#chooseLocation {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
    justify-self: center;
}
#headlineData {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
    justify-self: center;
}
#personalDataIndependend {
    grid-column: 1;
    grid-row: 6;
    justify-self: right;
    margin-right: 20px;
}
#personalDataDependence {
        grid-column: 2;
        grid-row: 6;
        justify-self: left;
        margin-left: 20px;
}
#chooseWarArea {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 7;
    justify-self: center;
    align-self: center;
}
#textAfterPersonalData {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 8;
    justify-self: center;
}
#submitPersonalData {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 9;
    justify-self: center;
}
#textAfterSubmit {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 10;
    justify-self: center;
    text-align: center;
}

/********************************************************************************
    style for spenden html
*********************************************************************************/
/************ Section 2 personal data *************/
#bring, #collect {
    height: 25px;
    width: 25px;
    margin-top: 6.5px;  
}
#bring:checked, #collect:checked {
    background: #4CB055;
    border-color: black;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 100%);
} 
#bring:focus, #collect:focus {
    border-color: gray;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 100%);
}
#bringRadio label, #collectRadio label, .pBring, .pCollect, .labelDropdown {
    font-size: 125%;
    font-family: calendula, sans-serif;
    font-weight: 400;
    font-style: normal;  
}
.smallText {
    font-size: 50%;
}
.form-select:focus, .form-control:focus {
    border-color: #4CB055 !important;
    box-shadow: 10px -5px 5px #4CB055 !important;
}
.form-control {   
    width: 200px !important;
}
.pBig {
    font-size: 125%;
}